*{ margin: 0; padding: 0; box-sizing: border-box;}
body{width: 1440px; height: 1440px; background-color: white;
    position: relative;}

nav{margin: 0 auto; position: relative;}

.nav-container{ width: 1440px; height: 100%; text-align: center;}

.logo-container{width: 1440px; height: 160px; background-color: white;
    padding-top: 47px;}

.logo{ cursor: pointer;}

.menu-container{width: 1440px; height: 50px; line-height: 20px;
    display: flex; position: relative; margin: 0 auto;
    text-align: center; display: table-cell;  text-align: center; 
    vertical-align: middle;}

.menu{display: inline; line-height: 50px;text-align: center;
   box-sizing: border-box;}

.menu>a{width: 100px;  height: 50px; text-decoration: none;
    color: black;font-weight: 600; font-size: 14px;
    display: inline-block;}

.contents{width: 1440px; height: 557px;text-align: center;
    display: table-cell; text-align: center; vertical-align: middle;
    position: relative;}

.contents-main-container{ width: 462px; height: 304px; display: flex;}

.main-white-container{width: 438px;  height: 64px; background-color: white;
    text-align: center; vertical-align: middle; padding: 15px; position: absolute;}

.main-text-continer{width: 432px; height: 555px; float: right; display: flex;
position: absolute;}

.main-white-text>a{
    text-align: center; vertical-align: middle; line-height: 25px; 
    text-decoration: none; color: black; font-weight: 700; font-size: 20px;}

.main-black-container{height: 36px; background-color: black; color: white;}

.main-black-box1{width: 410px;}

.main-black-box2{width: 464px;}

.main-black-box3{width: 370;}

.main-green-box{width: 152px; height: 62px; background-color: #0ba39c;}

.main-green-box>a{color:white; text-decoration: none; }

.main-green-text{line-height: 25px;}

.contents-sub-container{width: 100; margin: 0 auto;}

.people-box{width: 293px; height: 244px; overflow: hidden;}

.contents-sub-3people-containe{display: flex;}

.people-box>img{display: inline-block; border: 2px solid black;}

.footer-container{width: 1440px;height: 122px; background-color: black;
    margin: 0 auto; position: relative; text-align: c;}

.fooer-left-ment{color: white; font-size: 15px; }

.footer-right{float: right; display: flex;}